h1 {
    font-size: 60px;
    color: red;
    font-weight: bold;
}

a {
    color: red !important;
}

body {
    font-family: Helvetica;
    font-weight: lighter;
}

p {
    text-justify: inter-word;
    text-align: justify;
}